<h1>Kitchen Mover </h1>
Hi Professor Bunch - welcome to our website!

<h3>Problem we are trying to solve </h3>

Moving kitchenware items can be cumbersome and time-consuming. It often breaks during the moving process - and avoiding breakage often requires using environmentally expensive packaging materials.

<h3> Our Solution </h3>
Our solution offers a product that securely packages kitchenware for an easy move. Our product offes multiple sections to fit plates and bowls of all sizes and it utilizes optimal spacing to ensure that items are securely held and minimizes the impact of any vibrations or impacts during the move.

<h3> Target Customer </h3>

Our target customer are young adults who are between the ages 18-34. This young demographic have the highest moving rate in the USA as they go through major life events that require moving (attending college, graduating, first job, changing jobs, marriage, etc.)



